-
    const publs_usa = [
        ['alphaweek', '01.08.2018', 'Asset-Backed Tokens: Velocity - A Measure Of Liquidity', 'Founder of D1, Hohi Hyun, explains the velocity as a new measure of liquidity and tells why asset-backed tokens is the future of crypto-currency.', 'https://www.alpha-week.com/asset-backed-tokens-velocity-measure-liquidity'],
        ['alphaweek', '11.06.2018', 'Asset-Backed Tokens: The Litmus Test', 'About the growing popularity of Asset-Backed Tokens and how D1 manages its development.', 'https://www.alpha-week.com/asset-backed-tokens-litmus-test'],
        ['diamonds', '28.05.2018', 'Crypto-Coin Company Acquires $20M in Diamonds', 'Singapore-based D1 Mint has agreed to buy $20 million worth of diamonds to back its new cryptocurrency coin, the company said last week.', 'https://www.diamonds.net/news/NewsItem.aspx?tc_dailyemail=1&ArticleID=62321'],
        ['bitcoinnews', '25.05.2018', 'D1 Coin Makes $20M Purchase from World’s Largest Diamond Miner', 'Сryptocurrency D1 Coin has just made a USD 20 million diamond purchase through KGK Diamonds via Alrosa, the largest diamond mining company in the world.', 'https://bitcoinnews.com/d1-coin-makes-20m-purchase-from-worlds-largest-diamond-miner/'],
    ]

    const publs_asia = [
        ['asian_banker', '27.08.2018', 'Diamonds represent a very good store value and investment, which is why we have looked at how to create diamonds as an investible asset class', 'Hogi Hyun, Founder of D1 and Managing Director of Abacus Capital, shares insights on the application of blockchain technology to the asset management industry and how diamonds will be the future of asset backed tokens as an investible asset class.', 'http://live.theasianbanker.com/video/hogi-hyun-founder-d1-coin-and-managing-director-abacus-capital-diamonds-actually-represent-a-very-good-store-value-and-a-very-good-investment-which-is-why-we-have-looked-at-how-to-create-diamonds-as-an-investible-asset-class']
    ]

    const publs_europe = [
        ['hedgeweek', '19.07.2018', 'D1 Mint brings investment grade diamond crypto token to market', 'Hogi Hyun is stepping into the crypto world to bring investors a blockchain and tokenised investment grade diamond investment opportunity.', 'https://www.hedgeweek.com/2018/07/19/266561/d1-mint-brings-investment-grade-diamond-crypto-token-market'],
        ['wealthbriefing', '13.07.2018', 'Diamonds: A New Asset Class?', 'Explaining D1 as the new "token" technology that comes from the same sort of stable as Bitcoin and can change how investors treat diamonds.', 'http://www.wealthbriefing.com/html/article.php?id=180158'],
    ]

mixin publ(content)
    .column
        .publications_item
            .publications_item_icon
                if typeof content[0] === 'object'
                    +icon(...content[0])
                else
                    img(src=`assets/img/newspapers/${content[0]}.png` srcset=`assets/img/newspapers/${content[0]}.png 1x, assets/img/newspapers/${content[0]}@2x.png 2x` alt=content[2])
            .publications_item_date
                =content[1]
            .publications_item_title
                =content[2]
            .publications_item_text
                =content[3]
            a.publications_item_more(href=content[4] target='_blank')
                | more

section#media.publications
    .row.column
        h2 Publications
        p.publications_descr
            | The D1 Project has been covered by the leading international media.
    .row.align-center
        .column.large-6
            select(data-target="#publications")
                option(value="publ_all") All
                option(value="publ_usa") USA
                option(value="publ_asia") Asia
                option(value="publ_europe") Europe
            ul#publications.tabs(data-tabs)
                li.tabs-title.is-active
                    a(href='#publ_all', aria-selected='true') All
                li.tabs-title
                    a(data-tabs-target='publ_usa', href='#publ_usa') USA
                li.tabs-title
                    a(data-tabs-target='publ_asia', href='#publ_asia') asia
                li.tabs-title
                    a(data-tabs-target='publ_europe', href='#publ_europe') Europe
    .tabs-content(data-tabs-content='publications')
        - const publs = ['usa', 'asia', 'europe']
        .tabs-panel(id='publ_all' class='is-active')
            .row.owl-carousel.publications_items
                each publ, idx in publs
                    each item in eval('publs_' + publ)
                        +publ(item)

        each publ, idx in publs
            .tabs-panel(id='publ_' + publ)
                .row.owl-carousel.publications_items
                    each item in eval('publs_' + publ)
                        +publ(item)